{% extends 'GbsLeaveBundle::layout.html.twig' %}
{% block body %}
<div class="starter-template">
    <h1>GB&Smith internal tools</h1>
    <p class="lead">This site is dedicated to providing some useful tools to employees.</p>
</div>
{% endblock %}
