{% extends "::base.html.twig" %}

{% block title %}Reset GBS Password{% endblock %}

{% block body %}
<h1>Reset GBS password</h1>
    <p>This page will change the GBS password of your email adress @ovh and also on the LDAP system (wiki, redmine...)
    {{form(form)}}
   {% endblock %}
